:root {
	/* Colors */
	--clr-dark: #222;
	--clr-darker: #111;
	--clr-light: #fffff0;
	--clr-light2: #e8e5cf;
	--clr-highlight: #d4af37;
	--clr-link: #0d9488;

	/* Sizes */
	--text-xs: 0.75rem; /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem; /* 16px */
	--text-lg: 1.125rem; /* 18px */
	--text-xl: 1.25rem; /* 20px */
	--text-2xl: 1.5rem; /* 24px */
	--text-3xl: 1.875rem; /* 30px */
	--text-4xl: 2.25rem; /* 36px */
	--text-5xl: 3rem; /* 48px */
	--text-6xl: 3.75rem; /* 60px */
	--text-7xl: 4.5rem; /* 72px */
	--text-8xl: 6rem; /* 96px */
	--text-9xl: 8rem; /* 128px */
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	scroll-behavior: smooth;
}

.light-mode {
	--clr-darker: #fffff0;
	--clr-light: #111;
	--clr-light2: #222;
}

body {
	/* font-family: "General Sans", sans-serif; */
	font-family: "Montserrat", sans-serif;
	background-color: var(--clr-darker);
	color: var(--clr-light);
	overflow-x: hidden;
}

img {
	display: block;
	max-width: 100%;
	user-select: none;
}

a {
	color: var(--clr-link);
}

.link {
	transition: 0.3s;
}

.link:hover {
	opacity: 30%;
}

strong {
	color: var(--clr-highlight);
}

button {
	display: inline-block;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	color: inherit;
}

.noise-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	background-image: url("../img/Soft-Noise.png");
	mix-blend-mode: multiply;
	filter: opacity(0.75);
	pointer-events: none;
	z-index: 999;
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--clr-highlight);
	outline: 1px solid var(--clr-darker);
}
