html {
	scroll-padding-top: var(--scroll-padding, 5.3rem);
	scroll-behavior: smooth;
	font-size: 100%;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 20vw;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-25%);
	transition: all 1s;
}

.hidden2 {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(25%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translatex(0);
}

.card {
	margin-left: auto;
	margin-right: auto;
	border: none;
	align-items: center;
	background-color: transparent;
	white-space: nowrap;
}

.portfolioArtifact {
	margin-bottom: 50px;
}

.portfolioCard {
	transition: 0.3s;
	background-color: #104050;
	border-radius: 15px;
}

.portfolioCard:hover {
	transform: scale(102%);
}

.projectText {
	color: #fffff0;
	margin-bottom: 20px;
}

.center-con {
	text-align: center !important;
	align-content: center !important;
	justify-content: center !important;
	align-items: center !important;
	display: flex !important;
}

.cardContainer {
	margin: 20px;
}

.cardContainer h4 {
	margin: 5px;
	padding-bottom: 10px;
	text-align: center;
}

.cardContainer p {
	margin: 5px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 5px;
}

.projectLinks {
	transition: 0.3s;
	color: #fffff0;
	font-size: 0.8rem;
}

.projectLinks:hover {
	color: #26596a;
}

#portfolioImg {
	border-radius: 15px;
	width: 100%;
}

.blue {
	background-color: #26596a;
}

.dark {
	background-color: #333;
}

.darker {
	background-color: #222;
}

.navbar-nav {
	margin-left: auto;
}

.centered-text h2 {
	text-align: center;
}

.centered {
	text-align: center;
	align-items: center;
}

.gimmLink {
	transition: 0.3s;
	color: #fffff0;
}

.gimmLink:hover {
	color: #333;
}

#body {
	margin: 0px;
	font-family: "Merriweather Sans", sans-serif;
	color: #fffff0;
	background: #222;
}

#top {
	display: flex;
	height: 100vh;
	background-color: #333;
	align-items: center;
}

#top h2 {
	font-size: clamp(2.8rem, 5vw, 5rem);
}

.topBackground {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url("../img/grid.svg");
}

@keyframes slideInTop {
	0% {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(-100%);
	}
	100% {
		opacity: 0.9;
		filter: blur(0);
		transform: translateY(0);
	}
}

#nav {
	animation: 1s ease-in-out 0s 1 slideInTop;
	background-color: #111;
	opacity: 0.9;
	padding: 10px 10%;
}

#name {
	transition: all 0.3s ease 0s;
	color: #fffff0;
}

#name:hover {
	color: #26596a;
	font-weight: 500;
}

#navLinks {
	list-style: none;
	font-size: 1.5em;
}

#navLinks li {
	font-size: 1em;
	padding: 0px 20px;
}

#navLinks li a {
	transition: all 0.3s ease 0s;
	font-size: 1em;
	text-decoration: none;
	color: #fffff0;
	font-weight: 500;
}

#navLinks li a:hover {
	color: #26596a;
	font-weight: 500;
}

#picture {
	border-radius: 15px;
	width: 300px;
	box-shadow: 5px 5px 5px #222;
	margin: 20px;
	color: #333;
}

#about-section h2 {
	font-size: 3em;
	padding-bottom: 0.5%;
}

#projects h2 {
	font-size: 3em;
	padding-bottom: 0.5%;
}

#footer {
	display: inline-block;
	width: 100%;
	color: #fffff0;
	min-height: 75px;
	align-items: center;
}

#footer h2 {
	font-size: 3em;
	padding-bottom: 0.5%;
}

#footer p a {
	transition: all 0.3s ease 0s;
	padding: 10px;
	color: #fffff0;
	text-decoration: none;
}

#footer p a:hover {
	color: #222;
}
