:root {
	--text-xs: 0.75rem; /* 12px */
	--text-sm: 0.875rem; /* 14px */
	--text-base: 1rem; /* 16px */
	--text-lg: 1.125rem; /* 18px */
	--text-xl: 1.25rem; /* 20px */
	--text-2xl: 1.5rem; /* 24px */
	--text-3xl: 1.875rem; /* 30px */
	--text-4xl: 2.25rem; /* 36px */
	--text-5xl: 3rem; /* 48px */
	--text-6xl: 3.75rem; /* 60px */
	--text-7xl: 4.5rem; /* 72px */
	--text-8xl: 6rem; /* 96px */
	--text-9xl: 8rem; /* 128px */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #282828;
	font-family: "Montserrat", sans-serif;
	color: #ebdbb2;
	overflow-x: hidden;
	padding-top: 30px;
	font-size: 1rem;
}

strong {
	color: #fabd2f;
}

a {
	color: #8ec07c;
}

hr {
	border: 1px solid #665c54;
}

hr.section-border {
	border: 1px solid #fabd2f;
}

h2 {
	font-weight: 700;
}

h3 {
	font-weight: 500;
}

.player {
	border: 1px solid #3c3836;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 5px #3c3836;
	overflow: hidden;
	z-index: 1;
	display: none;
}

/* Sections */
section {
	margin-top: 5rem;
	padding-top: 60px;
}

#hero {
	margin-top: 0;
	padding: 0;
}

/* Navbar */
nav {
	box-shadow: 0 5px 10px #3c3836;
}

.bg_dark {
	background-color: #282828;
}

.nav_text {
	color: #ebdbb2;
	transition: 0.5s;
}

.nav_text:hover {
	color: #8ec07c;
}

.nav_text:active {
	color: #8ec07c !important;
}

.nav_text:focus {
	color: #8ec07c !important;
}

.active {
	color: #8ec07c !important;
}

.dropdown-menu {
	background-color: #282828;
	box-shadow: 0 5px 10px #3c3836;
	border: 2px solid #3c3836;
}

.dropdown-personal {
	text-decoration: underline;
	color: #ebdbb2;
}

.dropdown-item {
	color: #ebdbb2;
	transition: 0.3s;
}

.dropdown-item:hover {
	background-color: #8ec07c;
	color: #ebdbb2;
}

.nav_name {
	text-transform: uppercase;
	font-size: var(--text-md);

	letter-spacing: -0.05em;
	line-height: 0.9;

	background: linear-gradient(to right, #fabd2f, #ebdbb2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Buttons */
.btn {
	appearance: none;
	background-color: transparent;
	border: 2px solid #8ec07c;
	border-radius: 6px;
	letter-spacing: -0.05em;
	color: #8ec07c;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	outline: none;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	background: linear-gradient(to left, #282828 50%, #8ec07c 50%) right;
	background-size: 200%;
	transition: 0.3s ease-out;
}

.btn:disabled {
	pointer-events: none;
}

.btn:hover {
	background-position: left;
	color: #ebdbb2;
	border: 2px solid #8ec07c;
	box-shadow: 0 14px 28px rgba(142, 192, 124, 0.25),
		0 10px 10px rgba(142, 192, 124, 0.22), 0 0 120px -10px #8ec07c;
	transform: translateY(-2px);
}

.btn:active {
	box-shadow: none;
	transform: translateY(0);
}

.noise-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	background-image: url("../img/Soft-Noise.png");
	mix-blend-mode: multiply;
	filter: opacity(0.75);
	pointer-events: none;
	z-index: 10;
}

.carousel {
	position: relative;
}

.carousel img {
	max-height: 400px;
	object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 50px; /* Increase width */
	height: 50px; /* Increase height */
}

.carousel-indicators {
	bottom: -30px;
	margin-top: 10px;
	text-align: center;
}

.link {
	transition: 0.3s;
}

.link:hover {
	opacity: 30%;
}

.loading {
	filter: grayscale(100%) opacity(0);
}

.loaded {
	opacity: 1;
	filter: grayscale(0) opacity(100);
	transform: translatex(0);
	transition: 1.5s ease-in-out;
}

.loaded-slow {
	opacity: 1;
	filter: grayscale(0) opacity(100);
	transform: translatex(0);
	transition-delay: 0.75s;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

.division-border {
	width: 1px;
	height: 100%;
	margin: auto;
}

/* Scrollbar */
body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #3c3836;
}

body::-webkit-scrollbar-thumb {
	background-color: #fabd2f;
	outline: 1px solid #3c3836;
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
@media (min-width: 640px) {
	.nav_name {
		font-size: var(--text-3xl);
	}
}

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
