/* xs */
/* @media (min-width: 475px) {
	
} */

/* sm */
/* @media (min-width: 640px) {
	
} */

/* md */
/* @media (min-width: 768px) {
	
} */

/* lg */
/* @media (min-width: 1024px) {
	
} */

/* xl */
/* @media (min-width: 1280px) {
	
} */

/* 2xl */
/* @media (min-width: 1536px) {
	
} */

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.section {
	margin-top: 5rem;
}

.loading {
	filter: grayscale(100%) opacity(0);
}

.loaded {
	opacity: 1;
	filter: grayscale(0) opacity(100);
	transform: translatex(0);
	transition: 1.5s ease-in-out;
}

.loaded-slow {
	opacity: 1;
	filter: grayscale(0) opacity(100);
	transform: translatex(0);
	transition-delay: 0.75s;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
}

/* Button */
.btn {
	appearance: none;
	background-color: transparent;
	border: 2px solid var(--clr-link);
	border-radius: 6px;
	letter-spacing: -0.05em;
	color: var(--clr-link);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	outline: none;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

	background: linear-gradient(
			to left,
			var(--clr-darker) 50%,
			var(--clr-link) 50%
		)
		right;
	background-size: 200%;
	transition: 0.3s ease-out;
}

.btn:disabled {
	pointer-events: none;
}

.btn:hover {
	background-position: left;
	color: #fffff0;
	box-shadow: 0 14px 28px rgba(13, 148, 136, 0.25),
		0 10px 10px rgba(13, 148, 136, 0.22), 0 0 120px -10px var(--clr-link);
	transform: translateY(-2px);
}

.btn:active {
	box-shadow: none;
	transform: translateY(0);
}

/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}

	.section {
		margin-top: 10rem;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
