.about_description {
	max-width: 60ch;
	font-size: var(--text-sm);
	color: #d5c4a1;
}

.about_img {
	border-radius: 1rem;
	border: 1px solid #fabd2f;
	transition: 0.75s;
}

.about_img:hover {
	transform: scale(100.5%);
	box-shadow: 0 3.5px 7px rgba(250, 189, 47, 0.25),
		0 2.5px 2.5px rgba(250, 189, 47, 0.22), 0 0 30px -2.5px #fabd2f;
}

/* xs */
@media (min-width: 475px) {
	.about {
		gap: 1.5rem;
	}

	.about h2 {
		font-size: var(--text-3xl);
	}

	.about_description {
		font-size: var(--text-base);
	}
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
	.about {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.about h2 {
		font-size: var(--text-4xl);
	}

	.about_description {
		font-size: var(--text-lg);
	}
}

/* xl */
@media (min-width: 1280px) {
	.about {
		gap: 2rem;
	}

	.about h2 {
		font-size: var(--text-5xl);
	}

	.about_description {
		font-size: var(--text-xl);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
