.contact h2 {
	font-size: var(--text-2xl);
	text-transform: capitalize;
}

.contact_description {
	font-size: var(--text-sm);
	color: #d5c4a1;
}

.contact_btn {
	font-size: var(--text-sm);
}

.contact_extra {
	font-size: var(--text-xs);
}

/* xs */
@media (min-width: 475px) {
	.contact {
		gap: 1.5rem;
	}

	.contact h2 {
		font-size: var(--text-3xl);
	}

	.contact_description {
		font-size: var(--text-base);
	}

	.contact_btn {
		font-size: var(--text-base);
	}

	.contact_extra {
		font-size: var(--text-sm);
	}
}

/* sm */
/* @media (min-width: 640px) {
	
} */

/* md */
/* @media (min-width: 768px) {
	
} */

/* lg */
@media (min-width: 1024px) {
	.contact h2 {
		font-size: var(--text-4xl);
	}

	.contact_description {
		font-size: var(--text-lg);
	}

	.contact_btn {
		font-size: var(--text-lg);
	}

	.contact_extra {
		font-size: var(--text-base);
	}
}

/* xl */
@media (min-width: 1280px) {
	.contact {
		gap: 2rem;
	}

	.contact h2 {
		font-size: var(--text-5xl);
	}

	.contact_description {
		font-size: var(--text-xl);
	}

	.contact_btn {
		font-size: var(--text-xl);
	}

	.contact_extra {
		font-size: var(--text-lg);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
