.footer_title {
	font-size: var(--text-xs) !important;
	font-weight: 400;
	color: #e8e5cf !important;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	user-select: none;
}
