.hero {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
	height: 100vh;
}

h2,
h3 {
	text-transform: uppercase;
	font-size: var(--text-4xl);

	letter-spacing: -0.05em;
	line-height: 0.9;

	background: linear-gradient(to right, #fabd2f, #ebdbb2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.hero_description {
	max-width: 60ch;
	font-size: var(--text-sm);
}

/* xs */
@media (min-width: 475px) {
	.hero {
		gap: 1.5rem;
	}

	.hero h2 {
		font-size: var(--text-5xl);
	}

	.hero_description {
		font-size: var(--text-base);
	}

	.hero_btn {
		font-size: var(--text-base);
	}
}

/* sm */
/* @media (min-width: 640px) {
	
} */

/* md */
/* @media (min-width: 768px) {
	
} */

/* lg */
@media (min-width: 1024px) {
	.hero h2 {
		font-size: var(--text-7xl);
	}

	.hero_description {
		font-size: var(--text-lg);
	}

	.hero_btn {
		font-size: var(--text-lg);
	}
}

/* xl */
@media (min-width: 1280px) {
	.hero {
		gap: 2rem;
	}

	.hero h2 {
		font-size: var(--text-9xl);
	}

	.hero_description {
		font-size: var(--text-xl);
	}

	.hero_btn {
		font-size: var(--text-xl);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
