.hero {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
	height: 100vh;
}

.hero__title {
	color: var(--clr-light);
	text-transform: uppercase;
	font-size: var(--text-4xl);
	letter-spacing: -0.05em;
	line-height: 0.9;

	background: linear-gradient(to right, var(--clr-highlight), var(--clr-light));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.hero__description {
	max-width: 60ch;
	font-size: var(--text-sm);
	color: var(--clr-light);
}

.hero__btn {
	font-size: var(--text-sm);
}

/* xs */
@media (min-width: 475px) {
	.hero {
		gap: 1.5rem;
	}

	.hero__img {
		width: 6.5rem;
		height: 6.5rem;
	}

	.hero__subtitle {
		font-size: var(--text-lg);
	}

	.hero__title {
		font-size: var(--text-5xl);
	}

	.hero__description {
		font-size: var(--text-base);
	}

	.hero__btn {
		font-size: var(--text-base);
	}
}

/* sm */
/* @media (min-width: 640px) {
	
} */

/* md */
/* @media (min-width: 768px) {
	
} */

/* lg */
@media (min-width: 1024px) {
	.hero__img {
		width: 8rem;
		height: 8rem;
	}

	.hero__subtitle {
		font-size: var(--text-2xl);
	}

	.hero__title {
		font-size: var(--text-7xl);
	}

	.hero__description {
		font-size: var(--text-lg);
	}

	.hero__btn {
		font-size: var(--text-lg);
	}
}

/* xl */
@media (min-width: 1280px) {
	.hero {
		gap: 2rem;
	}

	.hero__img {
		width: 10rem;
		height: 10rem;
	}

	.hero__subtitle {
		font-size: var(--text-4xl);
	}

	.hero__title {
		font-size: var(--text-9xl);
	}

	.hero__description {
		font-size: var(--text-xl);
	}

	.hero__btn {
		font-size: var(--text-xl);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
