.projects p {
	color: #e8e5cf;
}

.projects h2 {
	font-size: var(--text-2xl);
}

.projects h3 {
	font-size: var(--text-xl);
}

.projects_img {
	border-radius: 1rem;
	border: 1px solid #d4af37;
	transition: 0.5s;
	margin: 2rem 0;
}

.projects_img:hover {
	transform: scale(100.5%);
	cursor: pointer;
}

.projects_description {
	max-width: 60ch;
	font-size: var(--text-sm);
	margin: 1rem auto;
}

.projects_project-title {
	font-size: var(--text-base);
	font-weight: 500;
}

.projects_project-description {
	font-size: var(--text-sm);
}

.projects_project-btn {
	font-size: var(--text-sm);
}

/* Games */

/* Web */

/* Other */

/* xs */
@media (min-width: 475px) {
	.projects h2 {
		font-size: var(--text-3xl);
	}

	.projects h3 {
		font-size: var(--text-2xl);
	}

	.projects_description {
		font-size: var(--text-base);
		margin: 1.5rem auto;
	}

	.projects_project-title {
		font-size: var(--text-lg);
		margin-bottom: 1.5rem 0;
	}

	.projects_project-description {
		font-size: var(--text-base);
		margin: 1.5rem 0;
	}

	.projects_project-btn {
		font-size: var(--text-base);
	}
}

/* sm */
@media (min-width: 640px) {
	.projects_project {
		padding: 0 1rem;
	}

	.projects_project-title {
		display: block;
		font-size: var(--text-base);
		margin-bottom: 1em 0;
	}

	.projects_project-description {
		font-size: var(--text-xs);
		margin: 1em 0;
	}

	.projects_project-btn {
		font-size: var(--text-xs);
	}
}

/* md */
@media (min-width: 768px) {
	.projects_project-description {
		font-size: var(--text-sm);
	}

	.projects_project-btn {
		font-size: var(--text-sm);
	}

	.projects_project-title {
		font-size: var(--text-lg);
	}
}

/* lg */
@media (min-width: 1024px) {
	.projects h2 {
		font-size: var(--text-4xl);
	}

	.projects h3 {
		font-size: var(--text-3xl);
	}

	.projects_description {
		font-size: var(--text-lg);
	}

	.projects_project-description {
		font-size: var(--text-base);
	}

	.projects_project-btn {
		font-size: var(--text-base);
	}

	.projects_project-title {
		font-size: var(--text-xl);
	}
}

/* xl */
@media (min-width: 1280px) {
	.projects h2 {
		font-size: var(--text-5xl);
	}

	.projects h3 {
		font-size: var(--text-4xl);
	}

	.projects_description {
		font-size: var(--text-xl);
		margin: 2rem auto;
	}

	.projects_project-description {
		font-size: var(--text-lg);
	}

	.projects_project-btn {
		font-size: var(--text-lg);
	}

	.projects_project-title {
		font-size: var(--text-2xl);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
