h2,
h3,
h4 {
	text-transform: uppercase;

	letter-spacing: -0.05em;
	line-height: 0.9;

	background: linear-gradient(to right, #d4af37, #fffff0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.resume p {
	font-size: var(--text-sm);
	color: #e8e5cf;
}

.resume_dates {
	font-size: var(--text-xs);
	float: right;
}

ul {
	font-size: var(--text-sm);
	color: #e8e5cf;
}

h2 {
	font-size: var(--text-3xl);
}

/* xs */
@media (min-width: 475px) {
	h2 {
		font-size: var(--text-3xl);
	}

	.resume p,
	ul {
		font-size: var(--text-base);
	}
}

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
	h2 {
		font-size: var(--text-4xl);
	}

	.resume p,
	ul {
		font-size: var(--text-lg);
	}
}

/* xl */
@media (min-width: 1280px) {
	h2 {
		font-size: var(--text-5xl);
	}

	.resume p,
	ul {
		font-size: var(--text-xl);
	}
}

/* 2xl */
/* @media (min-width: 1536px) {
	
} */
